html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
  }

  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  .form ul{
    color: #f00;
    font-size: 12px;
    margin-top: 10px;
  }
  .form p {
    margin: 20 0 20px;
    color: #fff;
    font-size: 20px;
    text-align: center;
  }

  .form h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  .form button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: #1c8adb;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
  }

